.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ruff_cache/
dist/
build/
/input/
output/
models/
workers/*/.venv/
workers/*/models/
workers/*/*.freeze.txt
workers/*/environment.freeze.txt
workers/*/environment.json
workers/*/.runtime.json
config.yml
*.pptx
*.pdf
